.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.36);
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.42);
    text-align: center;
    padding: 50px 5px;
    font-size: 30px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.36);
    padding: 10px;
}

.grid-container2 > div {
    background-color: rgba(255, 255, 255, 0.42);
    text-align: center;
    font-size: 30px;
}

.w3-content {
    alignment: right;
    border-style: solid;
    border-color: black;;
}

.mySlides {
    display: none;
}

.header {
    width: 82.5%;
    position: fixed;
    text-align: left;
    background: rgba(56, 56, 56, 0.31);
}

h1 {
    color: #007fff;
    font-size: 50pt;
    text-shadow: 0 0 20px #000000;
}

h2 {
    width: 80%;
    color: white;
    font-size: 20pt;
    text-align: center;
}

h3 {
    color: transparent;
    font-size: 40pt;
    text-align: center;
    animation-name: fade;
    animation-duration: 10s;
}

h4 {
    color: #f46464;
    text-align: left;
    font-size: 30pt;
}

small {
    color: white;
}

body {
    padding-top: 0px;
    background-color: black;
    background-image: url("background2.jpg");
    background-size: cover;
    font-family: Futura, Helvetica;
}

footer {
    text-align: center;
}

@keyframes fade {
    0% {
        color: rgba(255, 0, 0, 0);
    }
    80% {
        color: white;
    }
    100% {
        color: rgba(255, 0, 0, 0);
    }
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #f46464;
    text-decoration: none;
    text-shadow: 0 0 5px black;
}

a:active {
    color: inherit;
    text-decoration: none;
}